@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared  styles*/
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
   margin-top: 130px;
}
.display_flex{
  display: flex;
}
.text_gray{
  color: #424242;
}
.text_light_gray{
  color:#727272;
}
.text_primary{
  color:#FF900E
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

/* navbar relates styles */
.navbar{
  justify-content: space-around;
  align-items: center;;
}
.brand{
  font-size: 700;
  font-size: 3rem;
}
.nav_item{
  list-style: none;
  margin-right: 30px;
}

.nav_link {
  text-decoration: none;
  font-weight: 500;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 20px;
}

/* banner content styles */
.banner-content{
  max-width: 850px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner_title{
  font-weight: 700;
  font-size: 4rem;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding:20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border:none;
}
.banner-img{
  width: 100%;
  
}
/* teams and feature related styles */
.teams{
  align-items: center;
}
.team-img-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;;
}
#quick-list{
  font-weight: 500;
}
/* fact-style */
.fact-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);

}
.fact-card{
  border:1px solid #FF900E;
  border-radius: 8px;
  width:240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top:5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
/* sponsor related */
  .sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
  }
  .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .sponsor-companies img{
    filter:grayscale(100%);
  }
/* responsive */
@media screen and (max-width:576px){
  .navbar,.nav-links,.teams{
    flex-direction: column;
  }
  .team-img-container,.fact-container,.sponsor-companies{
    grid-template-columns: repeat(1,1fr);
  }
  .fact-container{
    justify-items: center;
    gap:24px
  }
  .sponsor-companies{
    justify-items: center;
    gap:50px;
  }
  .our-features{
    margin-left: 20px;
  } 
}
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  } 
  .sponsor-companies,.fact-container{
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    justify-items: center;
  }
}
